<table class="loans-table">
    <thead class="loans-thead">
        <tr>
            <th class="thead-th-loans"></th>
            <th class="thead-th-loans">Monto Total</th>
            <th class="thead-th-loans">Cuotas</th>
            <th class="thead-th-loans">Fecha de emision</th>
            <th class="thead-th-loans">Mensual</th>
            <th class="thead-th-loans">Tasa de interes</th>
            <th class="thead-th-loans"></th>
            <th class="thead-th-loans"></th>
        </tr>
    </thead>
    <tbody class="loans-tbody">
        <tr class="tr-body">
            <td class="tbody-td-loans"></td>

            <td class="tbody-td-loans amount-td">
                <span class="span-bold">$800.000</span>
                <span class="sub-info-span">Con interes</span>
            </td>
            <td class="tbody-td-loans">
                <span class="span-bold">Cuota 10 - 24</span>
            </td>
            <td class="tbody-td-loans">
                Marzo 25, 2022
            </td>
            <td class="tbody-td-loans span-bold">
                $50.036
            </td>
            <td class="tbody-td-loans">10% interes</td>
            <td class="tbody-td-loans">
                <button class="pay-btn">Pagar</button>
            </td>
            <td class="tbody-td-loans">
                <button class="options-btn">
                    <fa-icon icon="ellipsis"></fa-icon>
                </button>
            </td>
        </tr>
        <tr class="tr-body">
            <td class="tbody-td-loans"></td>
            <td class="tbody-td-loans amount-td">
                <span class="span-bold">$500.000</span>
                <span>Con interes</span>
            </td>
            <td class="tbody-td-loans">
                <span class="span-bold">Cuota 24 - 24</span>
            </td>
            <td class="tbody-td-loans">
                Marzo 25, 2021
            </td>
            <td class="tbody-td-loans span-bold">
                $30.000
            </td>
            <td class="tbody-td-loans">10% interes</td>
            <td class="tbody-td-loans">
                <button class="cancel-btn">Cancelado</button>
            </td>
            <td class="tbody-td-loans">
                <button class="options-btn">
                    <fa-icon icon="ellipsis"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>