<nav class="nav-bar">
    <ul>
        <li class="li-input-search-desktop">
            <div>
                <fa-icon class="magnifying-glass-desktop" icon="magnifying-glass"></fa-icon>
                <input class="input-search-desktop input-search" type="search" placeholder="Busca aqui">
            </div>
        </li>
        <li *ngIf="client$ | async as client" class="li-profile">
            <button class="default-btn gear-button">
                <fa-icon class="icon-style" icon="gear"></fa-icon>
            </button>
            <button class="default-btn notification-button">
                <fa-icon class="icon-style" [icon]="['far', 'bell']"></fa-icon>
            </button>
            <div class="div-profile">
                <div class="img-container">
                    <img [src]="client.urlImg" alt="profile image">
                </div>
                <span>
                    {{client.fullname}}
                </span>
            </div>
        </li>
    </ul>
</nav>