input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{
    display: none;
}
.nav-bar{
    margin-top: 15px;
}
.nav-bar > ul{
    display: flex;
    position: relative;
    margin: 0;
    list-style-type: none;
    padding-left: 55px;
    justify-content: space-around;
}
.nav-bar > ul > li{
    display: flex;
    align-items: center;
    height: 70px;
}
.li-profile{
    gap: 20px;
}
.li-search-btn{
    position: relative;
}
@keyframes searcherAppear {
    0%{
        
        opacity: 0;
        top: 0;
    }
    100%{
        opacity: 1;
        top: 70px;
    }
}
.li-input-search-desktop{
    display: none !important;
}
.input-search{
    border:none;
    padding: 0px 20px 0px 80px;
    border-radius: 1000px;
    background-color: rgba(39, 38, 83, 0.192);
    color: whitesmoke;
}
.input-search::placeholder{
    color: rgb(197, 196, 196);
}
.input-search:focus-visible{
    outline: none;
}
.input-search-desktop{
    height: 50px;
    font-size: 18px;
}
.li-input-search-mobile{
    position: absolute;
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(172, 172, 172, 0.377); */
    width: 100%;
    left: 0;
    animation: searcherAppear .8s forwards;
}
.li-input-search-mobile > div,
.li-input-search-desktop > div{
    position: relative;
}
.magnifying-glass-mobile,
.magnifying-glass-desktop{
    position: absolute;
    color: rgb(218, 215, 215);
    left: 40px;
}
.magnifying-glass-mobile{
    top: 12px;
}
.magnifying-glass-desktop{
    top: 17px;
}
.li-input-search-mobile > div > input{
    height: 40px;
    font-size: 18px;
}
.close-search{
    font-size: 1.2em;
    /* background-color: gray; */
    color: rgb(255, 255, 255);
}
.icon-style{
    color: rgb(207, 207, 207);
    border: 2px solid rgb(207, 207, 207);
    padding: 10px 12px;
    border-radius: 1000px;
    font-size: 1.7em;
    cursor: pointer;
    transition: all .4s;
}
.search-icon-mobile{
    font-size: 1.3em;
}
.icon-style:hover{
    background-color: rgb(54, 58, 107);
}
.img-container{
    height: 3.3125em;
    width: 3.3125em;
    overflow: hidden;
    border-radius: 1000px;
}
.img-container > img{
    width:100%;
    height: 100%;
}
.div-profile > span{
    display: none;
    font-weight: bold;
    color: whitesmoke;
}

@media (min-width:599px){
    .div-profile{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .li-input-search-desktop > div > fa-icon:first-child{
        top: 16px;
    }
    .icon-style{
        font-size: 1.7em;
    }
    .img-container{
        height: 3.3125em;
        width: 3.3125em;
    }
    .nav-bar > ul{
        justify-content: end;
        padding-right: 20px;
        gap: 15px;
    }
    .li-search-btn{
        display: none !important;
    }
    .li-input-search-desktop{
        display: flex !important;
        flex-grow: 1;
        justify-content: center;
    }
    .li-input-search-desktop > div{
        width: 100%;
        max-width: 800px;
    }
    .input-search-desktop{
        width: 100%;
    }
    .input-search-desktop:focus-visible{
        outline: none;
    }
}
@media (min-width:800px) {
    .div-profile > span{
        display: inline-block;
    }
}
@media (min-width:1280px) {
    .li-input-search-desktop{
        justify-content: flex-start;
    }
    .nav-bar > ul{
        padding-right: 60px;
    }
}