<nav class="nav-bar">
    <ul>
        <li class="li-input-search-desktop">
            <div>
                <fa-icon class="magnifying-glass-desktop" icon="magnifying-glass"></fa-icon>
                <input class="input-search-desktop input-search" type="search" placeholder="Busca aqui">
            </div>
        </li>
        <li class="li-search-btn" (click)="searchInputMobile = !searchInputMobile">
            <fa-icon class="icon-style search-icon-mobile" icon="magnifying-glass"></fa-icon>
        </li>
        <li *ngIf="searchInputMobile" class="li-input-search-mobile">
            <div>
                <fa-icon class="magnifying-glass-mobile" icon="magnifying-glass"></fa-icon>
                <input class="input-search" type="search" placeholder="Busca aqui">
            </div>
            <button (click)="searchInputMobile = false" class="close-search default-btn">
                <fa-icon icon="xmark"></fa-icon>
            </button>
        </li>
        <li class="li-profile">
            <button class="default-btn">
                <fa-icon class="icon-style" icon="gear"></fa-icon>
            </button>
            <button class="default-btn">
                <fa-icon class="icon-style" [icon]="['far', 'bell']"></fa-icon>
            </button>
            <div class="div-profile">
                <div class="img-container">
                    <img src="../../../assets/images/michi.jpg" alt="">
                </div>
                <span>
                    Cristian Cruz Martinez
                </span>
            </div>
        </li>
    </ul>
</nav>