<main>
    <h2>Inicio</h2>
    <div class="cards-container">
        <article class="card my-card">
            <ul class="ul-my-card ul-default">
                <li class="balance">
                    <span>Mi saldo</span>
                    <span>$12,345,789</span>
                </li>
                <li class="li-circles">
                </li>
            </ul>
            <div class="card-number-container">
                <span>**** **** **** 1234</span>
            </div>
            <ul class="ul-default ul-info-card">
                <li class="li-info">
                    <span>Titular tarjeta</span>
                    <span>Cristian Cruz M</span>
                </li>
                <li class="li-info">
                    <span>Valido hasta</span>
                    <span>03/21</span>
                </li>
            </ul>
        </article>
        <article class="card income-card">
            <ul class="ul-default ul-income-card">
                <li class="li-income">
                    <div class="income-icons">
                        <fa-icon class="arrow-down-icon" icon="arrow-down"></fa-icon>
                        <fa-icon class="credit-card-icon" [icon]="['far', 'credit-card']"></fa-icon>
                    </div>
                    <div class="income-container">
                        <span>Ingresos</span>
                        <span>$45,741</span>
                    </div>
                </li>
                <li class="li-income-percentage">
                    <fa-icon icon="caret-up"></fa-icon>
                    <span class="income-percentage">+0,5%</span>
                </li>
            </ul>
        </article>
        <article class="card egress-card">
            <ul class="ul-default ul-egress-card">
                <li class="li-egress">
                    <div class="egress-icons">
                        <fa-icon class="arrow-up-icon" icon="arrow-up"></fa-icon>
                        <fa-icon class="credit-card-icon" [icon]="['far', 'credit-card']"></fa-icon>
                    </div>
                    <div class="egress-container">
                        <span>Egresos</span>
                        <span>$32,123</span>
                    </div>
                </li>
                <li class="li-egress-percentage">
                    <fa-icon icon="caret-down"></fa-icon>
                    <span class="egress-percentage">-0,5%</span>
                </li>
            </ul>
        </article>
    </div>
    <div class="balance-transactions-container">
        <section class="balance-section">
            <ul class="ul-default ul-balance">
                <li>
                    <h2>Balance</h2>
                </li>
                <li>
                    <span>filtro por semana</span>
                </li>
            </ul>
            <app-balance-charts></app-balance-charts>
        </section>
        <section class="transactions-section">
            <h2>Últimas transacciones</h2>
            <ul class="ul-default ul-transactions">
                <li>
                    <fa-icon icon="arrow-up" class="income-transaction"></fa-icon>
                </li>
                <li class="li-name">
                    <span class="name">Nombre</span>
                    <span>Transferencia</span>
                </li>
                <li>
                    <span>$60.000</span>
                </li>
                <li class="li-date-time">
                    <span class="date">Fecha</span>
                    <span>Hora</span>
                </li>
                <li>
                    <span class="status">Estado</span>
                </li>
                <li>
                    <span>options</span>
                </li>
            </ul>
            <ul class="ul-default ul-transactions">
                <li>
                    <fa-icon icon="arrow-up" class="egress-transaction"></fa-icon>
                </li>
                <li class="li-name">
                    <span class="name">Nombre</span>
                    <span>Transferencia</span>
                </li>
                <li>
                    <span>$60.000</span>
                </li>
                <li class="li-date-time">
                    <span class="date">Fecha</span>
                    <span>Hora</span>
                </li>
                <li>
                    <span class="status">Estado</span>
                </li>
                <li>
                    <span>options</span>
                </li>
            </ul>
        </section>
    </div>
    <div class="table-container">
        <app-loans-table></app-loans-table>
    </div>
</main>