/* Cards section */

main{
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 5%;
}
main > h2{
    color: rgb(77, 80, 109);
    text-align: center;
    font-size: 1.8em;
    margin: 0;
}
.cards-container{
    /* background-color: rgb(124, 153, 206); */
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    /* padding: 0 11px; */
    justify-content: center;
}
.ul-default{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.card{
    /* background-color: rgb(231, 231, 231); */
    height: 260px;
    border-radius: 30px;
    width: 100%;
    
}
.my-card{
    background-color: #000000;
    background-image: linear-gradient(45deg, #000000 0%, #5a5959 47%, #0a0a0a 100%);
    color: rgb(194, 193, 193);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 40px 35px;
}
.ul-my-card{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}
.balance{
    display: flex;
    flex-direction: column;
}
.balance > span:first-child{
    padding: 5px 0;
}
.balance > span:nth-child(2){
    font-size: 1.6em;
}
.li-circles::after, .li-circles::before{
    content: "";
    position: absolute;
    padding: 20px 20px;
    border-radius: 100px;
    background-color: #ffd90042;
}
.li-circles::after{
    right: 30px;
}
.li-circles::before{
    right: 60px;
}
.card-number-container{
    display: flex;
    justify-content: flex-end;
}
.ul-info-card{
    display: flex;
    gap: 30px;
}
.li-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name-info{
    font-size: .8em;
    color: rgb(165, 165, 165);
}
.info{
    font-weight: bold;
}
.egress-card, .income-card{
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* background-color: #d3d0d0b0; */
    background-color: #c7c7c7;
    overflow: hidden;
}
.egress-card::before, .income-card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../../assets/images/card-pattern.png);
    background-repeat: repeat;
    opacity: .8;
    /* background-position: center; */
    /* background-size: cover; */
}

.ul-income-card, .ul-egress-card{
    display: flex;
    justify-content: space-between;
    padding: 34px 30px 0 30px;
}
.li-income, .li-egress{
    display: flex;
    gap: 16px;
}
.income-icons,
.income-container,
.li-income-percentage,
.egress-icons,
.egress-container, 
.li-egress-percentage{
    display: flex;
    flex-direction: column;
}
.income-icons, .egress-icons{
    background-color: rgb(39, 39, 39);
    padding: 12px 22px;
    border-radius: 10000px;
    align-items: center;
    color: white;
}
.arrow-down-icon{

}
.credit-card-icon{
}
.income-container, .egress-container{
    justify-content: center;
}
.income-container > span:first-child, .egress-container > span:first-child{
    color: rgb(0, 0, 0);
    padding: 3px 0;
    font-size: 1.2em;
}
.income-container > span:nth-child(2), .egress-container > span:nth-child(2){
    font-size: 1.5em;
    font-weight: bold;
}
.li-income-percentage{
    align-items: center;
    color: green;
}
.li-egress-percentage{
    align-items: center;
    color: red;
}
.egress-percentage, .income-percentage{
    font-size: 1.3em;
}


/*Balance and transaction section*/

.balance-transactions-container{
    /* background-color: gray; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* padding: 0 20px; */
}
.balance-section, .transactions-section{
    padding: 40px 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.balance-section{
    border-radius: 50px;
    background-color: rgb(212, 209, 209);
    /* width: 55%; */
    width: 100%;
}
.ul-balance{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.ul-balance > li > h2, .transactions-section > h2{
    margin: 0;
}
.transactions-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 30px;
    background-color: #c3c3f08e;
    width: 100%;
    overflow-x: auto;
    /* width: 45%; */
}
.ul-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ul-transactions{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 560px;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.li-name, .li-date-time{
    display: flex;
    flex-direction: column;
}
.income-transaction, .egress-transaction{
    padding: 10px 15px;
    border-radius: 1000px;
    display: inline-block;
    color: whitesmoke;
    font-size: 1.5em;
}
.income-transaction{
    background-color: rgb(78, 153, 78);
    transform: rotate(-135deg);
}
.egress-transaction{
    transform: rotate(45deg);
    background-color: rgb(189, 78, 78);
}
.name, .date, .status{
    font-weight: bold;
}
.status{
    color: rgb(51, 143, 51);
}
.btn-options{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: gray;
    transition: all .4s;
}
.btn-options:hover{
    color: rgb(75, 75, 75);
}

/* TABLE */

.table-container{
    width: 95%;
    margin: 0 auto;
    /* background-color: #000000; */
    overflow-x: auto;
}
.pagination-app{
    margin-top: auto;
}


/* MediaQuery MIN-WIDTH:1280px */

@media (min-width:1280px){
    main > h2{
        text-align: start;
        /* padding-left: 55px; */
    }
    .cards-container{
        flex-wrap: nowrap;
        /* padding: 0 55px; */
    }
    .balance-transactions-container{
        flex-wrap: nowrap;
        padding: 0;
        width: 100%;
    }
    .balance-section{
        width: 54%;
    }
    .transactions-section{
        width: 46%;
    }
    .table-container{
        width: 100%;
        margin: 0 0;
    }

}