<main>
    <h2>Inicio</h2>
    <div class="cards-container">
        <article class="card my-card">
            <ul class="ul-my-card ul-default">
                <li class="balance">
                    <span>Mi saldo</span>
                    <span>$12,345,789</span>
                </li>
                <li class="li-circles">
                </li>
            </ul>
            <div class="card-number-container">
                <span>**** **** **** 1234</span>
            </div>
            <ul class="ul-default ul-info-card">
                <li class="li-info">
                    <span>Titular tarjeta</span>
                    <span>Cristian Cruz M</span>
                </li>
                <li class="li-info">
                    <span>Valido hasta</span>
                    <span>03/21</span>
                </li>
            </ul>
        </article>
        <article class="card income-card">
            god
        </article>
        <article class="card expenses-card">
            god
        </article>
    </div>
</main>