.container{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #575771;
    background-image: linear-gradient(135deg, #575771 1%, #7676c9 100%);
}
main{
    width: 100vw;
}
@media (min-width: 1280px){
    .container{
        gap: 20px;
    }
    aside{
        width: 22vw;
    }
    main{
        width: 70vw;
    }
}