<main *ngIf="client$ | async as client">
    <h2>Inicio</h2>
    <div class="cards-container">
        <article *ngFor="let card of client.cards" class="card my-card">
            <ul class="ul-my-card ul-default">
                <li class="balance">
                    <span>Mi saldo</span>
                    <span>${{card.balance}}</span>
                </li>
                <li class="li-circles">
                </li>
            </ul>
            <div class="card-number-container">
                <span>{{card.number}}</span>
            </div>
            <ul class="ul-default ul-info-card">
                <li class="li-info">
                    <span class="name-info">Titular tarjeta</span>
                    <span class="info">{{card.cardHolder}}</span>
                </li>
                <li class="li-info">
                    <span class="name-info">Valido hasta</span>
                    <span class="info">{{card.thruDate}}</span>
                </li>
            </ul>
        </article>
        <article *ngIf="monthlyIncome$ | async as income" class="card income-card">
            <ul class="ul-default ul-income-card">
                <li class="li-income">
                    <div class="income-icons">
                        <fa-icon class="arrow-down-icon" icon="arrow-down"></fa-icon>
                        <fa-icon class="credit-card-icon" [icon]="['far', 'credit-card']"></fa-icon>
                    </div>
                    <div class="income-container">
                        <span>{{income.name}}</span>
                        <span>${{income.monthlyIncome}}</span>
                    </div>
                </li>
                <li class="li-income-percentage">
                    <fa-icon icon="caret-up"></fa-icon>
                    <span class="income-percentage">+0,5%</span>
                </li>
            </ul>
        </article>
        <article *ngIf="monthlyEgress$ | async as egress" class="card egress-card">
            <ul class="ul-default ul-egress-card">
                <li class="li-egress">
                    <div class="egress-icons">
                        <fa-icon class="arrow-up-icon" icon="arrow-up"></fa-icon>
                        <fa-icon class="credit-card-icon" [icon]="['far', 'credit-card']"></fa-icon>
                    </div>
                    <div class="egress-container">
                        <span>{{egress.name}}</span>
                        <span>${{egress.monthlyEgress}}</span>
                    </div>
                </li>
                <li class="li-egress-percentage">
                    <fa-icon icon="caret-down"></fa-icon>
                    <span class="egress-percentage">-0,5%</span>
                </li>
            </ul>
        </article>
    </div>
    <div class="balance-transactions-container">
        <section class="balance-section">
            <ul class="ul-default ul-balance">
                <li>
                    <h2>Balance</h2>
                </li>
                <li>
                    <span>filtro por semana</span>
                </li>
            </ul>
            <app-balance-charts></app-balance-charts>
        </section>
        <section *ngIf="transactions$ | async as transactions" class="transactions-section">
            <h2>Últimas transacciones</h2>
            <div class="ul-container">
                <ul *ngFor="let transaction of paginatedTransactions" class="ul-default ul-transactions">
                    <li>
                        <fa-icon icon="arrow-up" [ngClass]="{'income-transaction': transaction.transactionType == 'Depósito' || transaction.toClientName == client.fullname, 'egress-transaction': transaction.transactionType == 'Transacción' && transaction.toClientName != client.fullname || transaction.transactionType == 'Extracción'}"></fa-icon>
                    </li>
                    <li class="li-name">
                        <span class="name">{{getName(client.fullname, transaction.fromClientName, transaction.toClientName)}}</span>
                        <span>{{transaction.transactionType | titlecase}}</span>
                    </li>
                    <li>
                        <span>${{transaction.amount}}</span>
                    </li>
                    <li class="li-date-time">
                        <span class="date">{{transaction.date | date : 'mediumDate'}}</span>
                        <span>{{transaction.date | date : 'mediumTime'}}</span>
                    </li>
                    <li>
                        <span class="status">Completado</span>
                    </li>
                    <li>
                        <button class="btn-options">
                            <fa-icon icon="ellipsis"></fa-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <app-pagination-buttons class="pagination-app" #pagination [objectList]="transactions" (emitCurrentPage)="currentPage = $event" [numberOfTransactionsToShow]="numberOfTransactionsToShow"></app-pagination-buttons>
        </section>
    </div>
    <div class="table-container">
        <app-loans-table></app-loans-table>
    </div>
</main>