<section class="login-section">
    <div class="login-container">
        <span>LOGO</span>
        <form class="login-form" action="">
            <label class="label-style" for="document-type">
                Tipo de documento
                <input type="text" name="document-type" placeholder="DNI">
            </label>
            <label class="label-style" for="document-number">
                Número de documento
                <input type="number" name="document-number" placeholder="45337896">
            </label>
            <label class="label-style" for="password">
                Clave
                <input type="password" name="password" placeholder="********">
            </label>
            <button>Ingresar</button>
        </form>
        <button class="virtual-keyboard">
            <fa-icon icon="keyboard"></fa-icon>
            Teclado virtual
        </button>
        <span class="go-register">¿No tienes cuenta? <a href="/auth/register">Regístrate Aquí</a></span>
    </div>
</section>