<section class="login-section">
    <div class="login-container">
        <span>UNICOMER</span>
        <form [formGroup]="logInForm" class="login-form" action="">
            <label class="label-style" for="document-type">
                Tipo de documento
                <select class="select-style" formControlName="documentType" name="documentType" id="">
                    <option class="select-option" selected="selected" disabled="disabled">DNI</option>
                    <option class="select-option" value="dni">DNI</option>
                    <option class="select-option" value="cedula">Cédula</option>
                    <option class="select-option" value="pasaporte">Pasaporte</option>
                </select>
            </label>
            <label class="label-style" for="dni">
                Número de documento
                <input formControlName="dni" type="number" name="dni" placeholder="45337896">
            </label>
            <label class="label-style" for="password">
                Clave
                <input formControlName="password" type="password" name="password" placeholder="********">
            </label>
            <button (click)="submitLogIn()" class="submit-button">Ingresar</button>
            <div *ngIf="errorMsg" class="error-msg">
                <span>{{errorMsg}}</span>
            </div>
        </form>
        
        <button class="virtual-keyboard">
            <fa-icon icon="keyboard"></fa-icon>
            Teclado virtual
        </button>
        <span class="go-register">¿No tienes cuenta? <a href="/auth/register">Regístrate Aquí</a></span>
    </div>
</section>