<app-modal-confirm *ngIf="toggleModal" [modalTitle]="'Cerrar sesion?'" [modalMsg]="'¿Estas seguro que deseas cerrar sesion?'" (cancel)="toggleModal = false" (confirm)="logout()"></app-modal-confirm>
<button class="menu-btn default-btn" (click)="isMobileMenuActive = true">
    <fa-icon icon="bars" class="bars-icon"></fa-icon>
</button>
<aside *ngIf="isMobileMenuActive" class="aside-menu-mobile">
    <div class="menu-container">
        <div class="header-menu">
            <h2>LOGO</h2>
            <button class="default-btn close-btn" (click)="isMobileMenuActive = false"><fa-icon icon="xmark" class="xmark-icon"></fa-icon></button>
        </div>
        <div class="body-menu">
            <ul class="body-menu-ul">
                <li routerLink="/unicomer/home" class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="house"></fa-icon>
                     <a class="link" >Inicio</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" [icon]="['far', 'credit-card']"></fa-icon>
                    <a class="link">Tarjetas</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="hand-holding-dollar"></fa-icon>
                    <a class="link">Prestamos</a>
                </li>
                <li routerLink="/unicomer/operations" class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="right-left"></fa-icon>
                    <a class="link" >Operaciones</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="tag"></fa-icon>
                    <a class="link">Te ofrecemos</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="shield"></fa-icon>
                    <a class="link">Seguros</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="gift"></fa-icon>
                    <a class="link">Puntos</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="question-circle"></fa-icon>
                    <a class="link">Ayuda</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li" (click)="toggleModal = true">
                    <fa-icon class="icon-style" icon="sign-out-alt"></fa-icon>
                    <a class="link">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<aside class="aside-menu-desktop">
    <div class="menu-container">
        <div class="header-menu">
            <h2>LOGO</h2>
        </div>
        <div class="body-menu">
            <ul class="body-menu-ul">
                <li routerLink="/unicomer/home" class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="house"></fa-icon>
                     <a class="link" >Inicio</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" [icon]="['far', 'credit-card']"></fa-icon>
                    <a class="link">Tarjetas</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="hand-holding-dollar"></fa-icon>
                    <a class="link">Prestamos</a>
                </li>
                <li routerLink="/unicomer/operations" class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="right-left"></fa-icon>
                    <a class="link" >Operaciones</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="tag"></fa-icon>
                    <a class="link">Te ofrecemos</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="shield"></fa-icon>
                    <a class="link">Seguros</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="gift"></fa-icon>
                    <a class="link">Puntos</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li">
                    <fa-icon class="icon-style" icon="question-circle"></fa-icon>
                    <a class="link">Ayuda</a>
                </li>
                <li class="body-menu-li" routerLinkActive="active-li" (click)="toggleModal = true">
                    <fa-icon class="icon-style" icon="sign-out-alt"></fa-icon>
                    <a class="link">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</aside>