.menu-btn{
    position: absolute;
    top: 33px;
    left: 8px;
    padding: 0;
    z-index: 9999;
}
.bars-icon{
    font-size: 2.4em;
    padding: 9px 11px;
    color: rgb(163, 162, 162);
    /* border: 1px solid rgb(146, 146, 146); */
    /* border-radius: 100px; */
}
@keyframes appear {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}
.aside-menu-mobile{
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    animation: appear .5s ease-out;
}
.aside-menu-desktop{
    display: none;
}
.aside-menu-mobile, .aside-menu-desktop{
    background-color: #272727;
}
.menu-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 15% 0px;
}
.header-menu{
    display: flex;
    justify-content: space-between;
}
.header-menu > h2{
    color: whitesmoke;
    margin: 0;
}
.close-btn{
    color: white;
}
.xmark-icon{
    font-size: 1.6em;
}
.body-menu-ul{
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body-menu-li{
    display: flex;
    align-items: center;
    color: rgba(189, 188, 188, 0.76);
    cursor: pointer;
    transition: all .5s;
}
fa-icon{
    transition: all .5s;
}
.body-menu-li:hover > fa-icon{
    background-color: rgb(48, 71, 107);
}
.body-menu-li:hover{
    color: rgb(240, 237, 237);
}
.body-menu-li > span{
    margin-left: 10%;
}
.icon-style{
    padding: 15px 15px;
    border-radius: 1000px;
}
.active-icon{
    background-color: rgb(48, 71, 107);
}
.active-li{
    color: rgb(240, 237, 237);
}
@media (min-width: 599px){
    .aside-menu-mobile{
        width: 40vw;
    }
}
@media (min-width: 960px){
    /* .aside-menu-mobile{
        width: 40vw;
    } */
    .aside-menu-mobile{
        display: none;
    }
    .aside-menu-desktop{
        display: block;
        height: 100%;
    }
    .menu-btn{
        display: none;
    }
    .header-menu{
        justify-content: center;
    }
}
@media (min-width: 1280px){
    
}
@media (min-width: 1400px){
    .aside-menu-mobile{
        width: 38vw;
    }
}