<button class="menu-btn default-btn">
    <fa-icon icon="bars" class="bars-icon"></fa-icon>
</button>
<aside class="aside-menu">
    <div class="header-menu">
        <h2>LOGO</h2>
        <button class="default-btn close-btn"><fa-icon icon="xmark" class="xmark-icon"></fa-icon></button>
    </div>
    <div class="body-menu">
        <ul>
            <li>
                <fa-icon icon="house"></fa-icon>
                 Inicio
            </li>
            <li>
                <fa-icon icon="credit-card"></fa-icon>
                Tarjetas
            </li>
            <li>
                <fa-icon icon="hand-holding-dollar"></fa-icon>
                Prestamos
            </li>
            <li>
                <fa-icon icon="right-left"></fa-icon>
                Operaciones
            </li>
            <li>
                <fa-icon icon="tag"></fa-icon>
                Te ofrecemos
            </li>
            <li>
                <fa-icon icon="shield"></fa-icon>
                Seguros
            </li>
            <li>
                <fa-icon icon="gift"></fa-icon>
                Puntos
            </li>
            <li>
                <fa-icon icon="question"></fa-icon>
                Ayuda
            </li>
            <li>
                <fa-icon icon="sign-out-alt"></fa-icon>
                Cerrar sesión
            </li>
        </ul>
    </div>
</aside>