.menu-btn{
    position: absolute;
    top: 33px;
    left: 8px;
    padding: 0;
    z-index: 9999;
}
.bars-icon{
    font-size: 2.4em;
    padding: 9px 11px;
    color: rgb(163, 162, 162);
    /* border: 1px solid rgb(146, 146, 146); */
    /* border-radius: 100px; */
}
@keyframes appear {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}
.aside-menu-mobile{
    position: absolute;
    z-index: 99999;
    background-color: #dcccdc;
    background-image: linear-gradient(0deg, #dcccdc 0%, #eff2f2 100%);
    width: 100vw;
    height: 100vh;
    animation: appear .5s ease-out;
}
.aside-menu-desktop{
    display: none;
}
.header-menu{
    display: flex;
    padding: 40px 50px;
    justify-content: space-between;
}
.header-menu > h2{
    margin: 0;
}
.close-btn{
    border: 1px solid black;
    border-radius: 100px;
    padding: 17px 20px;
}
.xmark-icon{
    font-size: 1.2em;
}
.body-menu > ul{
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body-menu > ul > li{
    display: flex;
    align-items: center;
    gap: 40px;
}
.icon-style{
    padding: 15px 15px;
    border-radius: 1000px;
    border: 2px solid rgb(150, 150, 150);
}
.active{
    background-color: rgb(39, 39, 39);
    color:#FFFF;
}
@media (min-width: 599px){
    .aside-menu-mobile{
        width: 50vw;
    }
}
@media (min-width: 960px){
    .aside-menu-mobile{
        width: 40vw;
    }
}
@media (min-width: 1280px){
    .body-menu > ul{
        padding-left: 15px;
    }
    .aside-menu-desktop{
        display: block;
        height: 100%;
        background-color: whitesmoke;
    }
    .menu-btn{
        display: none;
    }
}
@media (min-width: 1400px){
    .aside-menu-mobile{
        width: 38vw;
    }
    .header-menu > h2{
        padding-left: 60px;
    }
    .body-menu > ul{
        padding-left: 40px;
    }
}